@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#000000] text-zinc-200 antialiased font-sans selection:bg-white/20 selection:text-white;
    /* Evita scroll horizontal indesejado */
    overflow-x: hidden;
  }
}

/* Remove os inputs padrão de background em auto-fill do navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #18181b inset !important;
    -webkit-text-fill-color: white !important;
}
